html {
    box-sizing: border-box;
    background-color: #f9fdff;
}
.application {
    width: 100%;
    height: 100vh;
}
.container  {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.clock-cycle {
    font-weight: 800;
    font-size: 16px;
}

.cpus-caches {
    display: flex;
    flex-flow: row;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

/* CPU CACHE */

.cpu-cache .cpu {
    width: 350px;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
}

.cpu-cache .cpu .cpu-title {
    text-align: center;
    font-size: 20px;
}

/* CPU INPUTS */
.cpu-cache .cpu .cpu-inputs {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.cpu-cache .cpu .cpu-inputs input {
    height: 25px;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
}
.cpu-cache .cpu .cpu-inputs input:not(:nth-child(1)) {
margin-top: 10px;
}

/* CPU Buttons */
.cpu-cache .cpu .cpu-buttons {
    text-align: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.cpu-cache .cpu .cpu-buttons button {
    height: 25px;
    width: 100px;
    border-radius: 10px;
    padding-left: 10px;
    cursor: pointer;
    color: white;
    border: 0px;
    font-weight: 900;
}

.cpu-cache .cpu .cpu-buttons button:not(:nth-child(1)) {
margin-left: 10px;
}

.save-btn {
    background-color: #f04040;
}

.save-btn:hover {
    background-color: #fa5555;
}

.load-btn {
    background-color: rgb(27, 161, 121);
}

.load-btn:hover {
    background-color: rgb(13, 196, 141);
}

/* Cache */

.cache {
    width: 350px;
    text-align: center;
    font-weight: 800;
    margin-top: 10px;
}
.cache-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.cpus-caches table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    
}
  
.cpus-caches table th, td {
    text-align: center;
    padding: 8px;
}

.cpus-caches table tr:nth-child(even) {background-color: #f2f2f2;}

.cpus-caches th {
    font-weight: 900;
    color: black;
}

.components {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 30px;
}

.col-comps {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

/* BUS */
.bus-title {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

#bus-container {
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 12px;
    width: 800px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

/* details */
.details-title {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}
.details-container {
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 12px;
    width: 400px;
    height: 160px;
}


/* Memory */
.memory-title {
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}
.memory-container {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memory-container table {
    border-collapse: collapse;
    width: 300px;
    border: 1px solid black;
    overflow-y: scroll;
    max-height: 400px;
}
  
.memory-container table th, td {
    text-align: center;
    padding: 8px;
}

.memory-container table tr:nth-child(even) {background-color: #f2f2f2;}


/* Colors: */

.green-background {
    background-color: rgb(13, 196, 141) !important;
}
.red-background {
    background-color: #fa5555 !important;
}
.yellow-background {
    background-color: #c0eb27 !important;
}
.orange-background {
    background-color: #eb8627 !important;
}
.blue-background {
    background-color: #288bfd !important;
}